math-field::part(virtual-keyboard-toggle),
math-field::part(menu-toggle) {
    display: none;
}

math-field {
    outline: 0px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0em;
    padding-bottom: 0em;
    min-width: 1em;
    font-size: 1em;
    border-radius: 0;
    border: transparent;
    transition: border-bottom 0.1s ease-out;
}

math-field:empty::before {
    border-bottom: 2px solid #999;
}

math-field:focus-within,
math-field:hover {
    outline: 0px;
    border-bottom: 2px solid #4B7AAF;
}