/* font */
@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), local("SegoeUI-Regular");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Semibold"), local("SegoeUI-Semibold");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Bold"), local("SegoeUI-Bold");
    font-weight: 700;
    font-style: normal;
}

/* containers */
:root {
    background-color: #EEE;
}

body,
button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    margin: auto;
    max-width: 80em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#editor {
    padding: 2em 0;
    display: block;
    box-sizing: border-box;
    margin-right: 4.5em;
    height: 100vh;
}

#overflowWrap {
    height: 100%;
    padding-left: 5vw;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-right: 0.75em;
}

/* title input */
#documentTitle {
    font-family: inherit;
    /* title text properties*/
    line-height: 40px;
    color: #24292e;
    font-weight: 600;
    font-size: 2em;

    /* placement */
    padding-bottom: 0.75em;
    background-color: transparent;
    border: transparent;
    outline: 0px;
    box-sizing: border-box;
    width: 100%;

    /* horizontal line */
    border-bottom: 2px solid grey;
}

#documentTitle::placeholder {
    font-weight: normal;
}

/* main editor */
#main {
    display: block;
    /* placement */
    outline: 0;
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-bottom: 50vh;
    font-size: 1.2em;
}

#main:empty:before {
    content: "Type something...";
    color: grey;
}

h3 {
    font-weight: 600;
}

#main>div {
    margin-bottom: 0.75em;
}

#about {
    border: 1px solid #CCC;
    background-color: #EEE;
}

/* math */
math-field::part(virtual-keyboard-toggle),
math-field::part(menu-toggle) {
    display: none;
}

math-field {
    outline: 0px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0em;
    padding-bottom: 0em;
    min-width: 1em;
    font-size: 1em;
    border-radius: 0;
    border: transparent;
    transition: border-bottom 0.1s ease-out;
}

math-field:empty::before {
    border-bottom: 2px solid #999;
}

math-field:focus-within,
math-field:hover {
    outline: 0px;
    border-bottom: 2px solid #4B7AAF;
}